* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #ffffff;
    overflow-x: hidden;
}

/* Header */
.hero-header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://images.unsplash.com/photo-1588444837495-c6cfaf50c821?q=80&w=1920') no-repeat center center fixed;
    background-size: cover;
}

.logo-container {
    background: rgba(255, 255, 255, 0.4);
    padding: 40px 100px;
    backdrop-filter: blur(5px);
    width: 100%;
    text-align: center;
}

.logo-container h1 {
    font-size: 5rem;
    letter-spacing: 15px;
    font-weight: 300;
    color: #000;
}

/* Intro */
.brand-intro {
    padding: 100px 20%;
    text-align: center;
    background-color: #fff;
}

.brand-intro h2 {
    font-size: 28px;
    margin-bottom: 20px;
    font-style: italic;
}

.brand-intro p {
    font-size: 16px;
    color: #555;
    line-height: 1.8;
}

/* Product slider */
.product-slider-section {
    padding-bottom: 100px;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
}

.product-slider-section::-webkit-scrollbar {
    display: none;
}

.slider-wrapper {
    display: flex;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
}

.product-card {
    max-width: 400px;
    width: 100%;
    margin-right: 30px;
    text-align: center;
    transition: 0.4s;
}

.product-card img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    margin-bottom: 15px;
    background: #f9f9f9;
}

.product-card h3 {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* Footer */
.main-footer {
    background-color: #000;
    color: #fff;
    padding: 80px 10% 40px;
}

/* THAY GRID BẰNG FLEX */
.footer-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 50px;
}

.footer-col {
    width: 45%;
}

.footer-col h4 {
    font-size: 14px;
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #999;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    font-size: 13px;
    margin-bottom: 12px;
    cursor: pointer;
}

.footer-col ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-divider {
    border: 0;
    border-top: 1px solid #333;
    margin-bottom: 40px;
}

/* Footer bottom */
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.footer-logo {
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.social-icons a {
    color: #fff;
    font-size: 20px;
    margin-left: 20px;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #999