* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #ffffff;
    overflow-x: hidden;
}
.main-header{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:#fff;
    border-bottom:1px solid #eee;
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    font-size:20px;
    letter-spacing:5px;
    font-weight:400;
}

.nav-menu a{
    margin:0 20px;
    text-decoration:none;
    color:#000;
    font-size:14px;
    letter-spacing:2px;
    text-transform:uppercase;
    position:relative;
}

.nav-menu a::after{
    content:"";
    position:absolute;
    width:0;
    height:1px;
    background:black;
    left:0;
    bottom:-5px;
    transition:0.3s;
}

.nav-menu a:hover::after{
    width:100%;
}

.header-right{
    display:flex;
    align-items:center;
   
}

.search-box{
    position:relative;
    
}

.search-box input{
    padding:8px 35px 8px 12px;
    border:1px solid #ddd;
    outline:none;
    font-size:13px;
     border-radius: 5px;
}

.search-box i{
    position:absolute;
    right:10px;
    top:50%;
    transform:translateY(-50%);
    color:#555;
}
.hero-header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://images.unsplash.com/photo-1588444837495-c6cfaf50c821?q=80&w=1920') no-repeat center center fixed;
    background-size: cover;
}

.logo-container {
    background: rgba(255, 255, 255, 0.4);
    padding: 40px 100px;
    backdrop-filter: blur(5px);
    width: 100%;
    text-align: center;
}

.logo-container h1 {
    font-size: 5rem;
    letter-spacing: 15px;
    font-weight: 300;
    color: #000;
}

.brand-intro {
    padding: 100px 20%;
    text-align: center;
    background-color: #eaeaea;
}

.brand-intro h2 {
    font-size: 28px;
    margin-bottom: 20px;
    font-style: italic;
}

.brand-intro p {
    font-size: 16px;
    color: #555;
    line-height: 1.8;
}

.product-slider-section {
    padding-bottom: 100px;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
}

.product-slider-section::-webkit-scrollbar {
    display: none;
}

.slider-wrapper {
    display: flex;
    padding: 0 5%;
    justify-content: space-between;
    gap: 30px;
}

.product-card {
    max-width: 400px;
    width: 100%;
    text-align: center;
    transition: 0.4s;
}

.product-card img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    margin-bottom: 15px;
    background: #f9f9f9;
}

.product-card h3 {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.main-footer {
    background-color: #000;
    color: #fff;
    padding: 80px 10% 40px;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 50px;
}

.footer-col {
    width: 45%;
}

.footer-col h4 {
    font-size: 14px;
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #999;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    font-size: 13px;
    margin-bottom: 12px;
    cursor: pointer;
}

.footer-col ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-divider {
    border: 0;
    border-top: 1px solid #333;
    margin-bottom: 40px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.footer-logo {
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.social-icons a {
    color: #fff;
    font-size: 20px;
    margin-left: 20px;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #999;
}
.section-title{
    text-align: center;
    font-size: 32px;
    letter-spacing: 4px;
    margin: 80px 0 40px 0;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
}

.section-title::after{
    content: "";
    width: 60px;
    height: 2px;
    background: black;
    display: block;
    margin: 15px auto 0;
}